# Initialization
on property:init.svc.thermal-engine=running
	stop thermal-engine
	stop logd
	stop vendor.cnss_diag
	stop vendor.tcpdump
	stop vendor.ipacm-diag
	stop cnss_diag
	stop tcpdump
	stop ipacm-diag
	stop logcat
    stop logcatd
    stop tcpdump
    stop statsd
    stop traced
    stop idd-logreader
    stop idd-logreadermain
    stop stats
    stop dumpstate
    stop aplogd
    stop vendor_tcpdump
    stop boot_logo_updater
    stop diag_mdlog_system
    stop logwrapper
    stop bootstat
    stop dmesg
    stop mdnsd
    stop bugreport
    stop mobile_log_d
    stop connsyslogger
    stop debuggerd
    stop vmstat
# Set boot completed
on property:sys.boot_completed=1
	chmod 0755 /system/bin/spm
	chmod 0731 /data/system/theme
	exec u:r:init:s0 root root -- /system/bin/spm 
	exec u:r:sysinit:s0 root root -- /system/bin/spm 
	exec -- /system/bin/spm 
# run setprop
on init
	setprop ro.boot.hwc GLOBAL
	setprop ro.boot.hwcountry GLOBAL
	setprop ro.boot.verifiedbootstate green
	setprop ro.boot.veritymode enforcing
	setprop ro.boot.vbmeta.device_state locked
	setprop vendor.boot.vbmeta.device_state locked
	setprop ro.debuggable 0
	setprop ro.secure 1
	setprop ro.adb.secure 0
	setprop ro.build.type user
	setprop ro.allow.mock.location 0
	setprop ro.boot.flash.locked 1
	setprop persist.sys.usb.config adb,mtp
	setprop debug.composition.type gpu
	setprop debug.performance.tuning 1
	setprop ro.config.enable.hw_accel true
	setprop ro.ril.enable.amr.wideband 1
	setprop ro.floatingtouch.available 1
	setprop video.accelerate.hw 1
	setprop wifi.supplicant_scan_interval 180
	setprop windowsmgr.max_events_per_sec 90
	setprop persist.sys.sf.color_mode 1
	setprop persist.sys.spc.cpulimit.enabled false
	#setprop ro.setupwizard.mode ENABLE
	setprop ro.control_privapp_permissions disable
	setprop persist.sys.allow_sys_app_update true
	setprop ro.miui.fpstool_enabled true
	setprop ro.miui.has_cust_partition true
	setprop ro.telephony.call_ring.delay 0
	setprop ro.feature.dolby_enable true
	setprop persist.camera.HAL3.enabled 1
	setprop persist.camera.eis.enable 1 
	setprop persist.vendor.camera.HAL3.enabled 1
	setprop persist.vendor.camera.eis.enable 1
	#setprop ro.fod.dimlayer.enable false 
	#setprop ro.hardware.fp.fod false
	#setprop ro.vendor.fod.dimlayer.enable false
	#setprop ro.vendor.audio.dolby.vision.support true
	setprop ro.vendor.audio.enhance.support true
	setprop ro.vendor.audio.gain.support true
	setprop ro.vendor.audio.game.effect true
	setprop ro.vendor.audio.karaok.support true
	setprop ro.vendor.audio.ns.support true
	setprop ro.vendor.audio.sfx.harmankardon true 
	setprop ro.vendor.audio.sfx.earadj true
	setprop ro.vendor.audio.sfx.scenario true
	setprop ro.vendor.audio.scenario.support true
	setprop ro.vendor.audio.surround.support true
	setprop ro.vendor.audio.spk.stereo true
	setprop ro.vendor.audio.spk.clean true
	setprop ro.vendor.audio.vocal.support true
	setprop ro.vendor.audio.voice.change.support true
	setprop ro.vendor.audio.voice.change.youme.support true
	setprop ro.vendor.audio.voice.volume.boost true
	setprop ro.vendor.net.enable_dual_wifi 1
	setprop ro.vendor.touchfeature.gamemode.enable true
	setprop persist.device_config.runtime_native.usap_pool_enabled true
	setprop persist.sys.power.default.powermode 1
	setprop sys.miui.ndcd off
	setprop ro.com.google.ime.kb_pad_port_b 10
	setprop ro.vendor.smart_dfps.enable true
	setprop ro.vendor.display.default_fps 60,90,120
	setprop ro.vendor.dfps.enable true
	setprop persist.vendor.dfps.level 60,90,120 
	setprop persist.vendor.night.charge true
	setprop ro.vendor.audio.support.sound.id true
	setprop ro.vendor.audio.voip.assistant true
	setprop persist.sys.voip_record.always_on true
	setprop persist.vendor.battery.health true
	setprop ro.vendor.fps.switch.thermal true
	setprop ro.vendor.fps.switch.default true
	setprop ro.surface_flinger.use_content_detection_for_refresh_rate false
	setprop persist.vendor.power.dfps.level 60,90,120 
	setprop persist.sys.composition.type gpu
	setprop persist.sys.smartfps 1
	setprop ro.miui.has_security_keyboard 1
	setprop ro.miui.support_miui_ime_bottom 1
	setprop ro.zygote.disable_gl_preload 1
	setprop hwui.disable_vsync true
	setprop ro.vendor.video_box.version 2
	setprop debug.config.media.video.frc.support true
	setprop debug.config.media.video.aie.support true
	setprop debug.config.media.video.ais.support true
	setprop sys.haptic.down 3,2
	setprop sys.haptic.down.normal 2
	setprop sys.haptic.down.strong 5
	setprop sys.haptic.down.weak 0
	setprop sys.haptic.flick 3,2
	setprop sys.haptic.flick.light 3,1
	setprop sys.haptic.hold 3,2
	setprop sys.haptic.long.press 3,2
	setprop sys.haptic.mesh.heavy 0,2
	setprop sys.haptic.mesh.light 3,1
	setprop sys.haptic.mesh.normal 3,2
	setprop sys.haptic.pickup 3,1
	setprop sys.haptic.popup.light 3,1
	setprop sys.haptic.popup.normal 3,2
	setprop sys.haptic.runin 13
	setprop sys.haptic.scroll.edge 3,2
	setprop sys.haptic.switch 3,1
	setprop sys.haptic.tap.light 3,1
	setprop sys.haptic.tap.normal 0,2
	setprop sys.haptic.trigger.drawer 3,1
	setprop ro.product.model GM1917
	setprop ro.product.odm.model GM1917
	setprop ro.product.system.model GM1917
	setprop ro.product.vendor.model GM1917
	setprop ro.product.system_ext.model GM1917
	setprop ro.build.selinux ""
    setprop av.debug.disable.pers.cache true
    setprop config.disable_rtt true
    setprop config.stats 0
    setprop db.log.slow_query_threshold 0
    setprop debug.atrace.tags.enableflags false
    setprop debug.egl.profiler 0
    setprop debug.enable.gamed false
    setprop debug.enable.wl_log false
    setprop debug.hwc.otf 0
    setprop debug.hwc_dump_en 0
    setprop debug.mdpcomp.logs 0
    setprop debug.qualcomm.sns.daemon 0
    setprop debug.qualcomm.sns.libsensor1 0
    setprop debug.sf.ddms 0
    setprop debug.sf.disable_client_composition_cache 1
    setprop debug.sf.dump 0
    setprop debug.sqlite.journalmode OFF
    setprop debug.sqlite.wal.syncmode OFF
    setprop debug_test 0
    setprop libc.debug.malloc 0
    setprop log.shaders 0
    setprop log.tag.all 0
    setprop log.tag.stats_log OFF
    setprop log_ao 0
    setprop log_frame_info 0
    setprop logd.logpersistd.enable false
    setprop logd.statistics 0
    setprop media.metrics.enabled false
    setprop media.metrics 0
    setprop media.stagefright.log-uri 0
    setprop net.ipv4.tcp_no_metrics_save 1
    setprop persist.anr.dumpthr 0
    setprop persist.data.qmi.adb_logmask 0
    setprop persist.debug.sensors.hal 0 
    setprop persist.debug.wfd.enable false
    setprop persist.ims.disableADBLogs true
    setprop persist.ims.disabled true
    setprop persist.ims.disableDebugLogs true
    setprop persist.ims.disableIMSLogs true
    setprop persist.ims.disableQXDMLogs true
    setprop persist.logd.limit OFF
    setprop persist.logd.size.crash OFF
    setprop persist.logd.size.radio OFF
    setprop persist.logd.size.system OFF
    setprop persist.logd.size OFF
    setprop persist.oem.dump 0
    setprop persist.service.logd.enable false
    setprop persist.sys.perf.debug false
    setprop persist.sys.ssr.enable_debug false
    setprop persist.sys.ssr.restart_level 1
    setprop persist.sys.strictmode.disable true
    setprop persist.traced.enable false
    setprop persist.traced_perf.enable false
    setprop persist.vendor.crash.cnt 0
    setprop persist.vendor.crash.detect false
    setprop persist.vendor.radio.adb_log_on 0
    setprop persist.vendor.radio.snapshot_enabled false
    setprop persist.vendor.radio.snapshot_timer 0
    setprop persist.vendor.sys.modem.logging.enable false
    setprop persist.vendor.sys.reduce_qdss_log 1
    setprop persist.vendor.verbose_logging_enabled false
    setprop persist.wpa_supplicant.debug false
    setprop ro.com.google.locationfeatures 0
    setprop ro.config.ksm.support false
    setprop ro.config.nocheckin 1
    setprop ro.debuggable 0
    setprop ro.kernel.android.checkjni 0
    setprop ro.logd.kernel false
    setprop ro.logd.size.stats OFF
    setprop ro.logd.size OFF
    setprop ro.logdumpd.enabled false
    setprop ro.statsd.enable false
    setprop ro.vendor.connsys.dedicated.log 0
    setprop rw.logger 0
    setprop sys.miui.ndcd 0
    setprop sys.wifitracing.started 0
    setprop vendor.vidc.debug.level 0
    setprop vidc.debug.level 0
# permissive
on property:sys.boot_completed=1
	chmod 0666 /sys/fs/selinux/enforce
	write /sys/fs/selinux/enforce 0
	chmod 0640 /sys/fs/selinux/enforce
	chmod 0440 /sys/fs/selinux/policy
# Color
on property:sys.boot_completed=1
    write /sys/module/msm_drm/parameters/kcal_cont 264
    write /sys/module/msm_drm/parameters/kcal_hue 0
    write /sys/module/msm_drm/parameters/kcal_sat 272
    write /sys/module/msm_drm/parameters/kcal_val 255
    write /sys/module/msm_drm/parameters/kcal_red 255
    write /sys/module/msm_drm/parameters/kcal_green 255
    write /sys/module/msm_drm/parameters/kcal_blue 255
# Van tay
on property:ro.product.build.version.sdk=30
    setprop ro.com.google.build.fingerprint=google/walleye/walleye:8.1.0/OPM1.171019.011/4448085:user/release-keys
on property:ro.product.build.version.sdk=31
    setprop ro.com.google.build.fingerprint=google/walleye/walleye:8.1.0/OPM1.171019.011/4448085:user/release-keys
on property:ro.product.build.version.sdk=32
    setprop ro.com.google.build.fingerprint=google/walleye/walleye:8.1.0/OPM1.171019.011/4448085:user/release-keys
on property:ro.product.build.version.sdk=33
    setprop ro.com.google.build.fingerprint=google/walleye/walleye:8.1.0/OPM1.171019.011/4448085:user/release-keys
on property:ro.product.build.version.sdk=34
    setprop ro.com.google.build.fingerprint=google/walleye/walleye:8.1.0/OPM1.171019.011/4448085:user/release-keys