name: VH-OS
on: 
  workflow_dispatch:
  issues:
    types:
      - opened
      - reopened
permissions: write-all
jobs:
  build:
    name: 'Xem quá trình'
    if: github.repository == 'chamchamfy/RROM' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04
    env:
      NUMBIE: ${{ github.event.issue.number }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Nạp dữ liệu
        uses: actions/checkout@v3
      - name: 'Tải về'
        run: |
          # Taive          
          bash .github/Taive.sh
      - name: 'Xem build ROM'
        run: |
          # CC          
          bash .github/Chay.sh
      - name: Upload
        run: |
          # kakathic         
          bash .github/Upload.sh
      - name: 'Dán Link & Xoá thẻ'
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.update({
              issue_number: ${{ github.event.issue.number }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed',
              state_reason: 'completed',
              labels: ["${{ env.THETB }}"]
            })
            github.rest.issues.createComment({
              issue_number: ${{ github.event.issue.number }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "${{ env.THATBAI }}"
            })

            
